<div
  class="container"
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  "
>
  <img
    src="/assets/notFound.png"
    style="height: 35%; width: 35%; margin-top: 5%"
    class="md-card-image"
    alt="Image by storyset on Freepik"
  />

  <div style="margin-top: 10px">
    <button
      mat-raised-button
      color="primary"
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      routerLink="/top"
    >
      <mat-icon>home</mat-icon> Go Home
    </button>
  </div>
</div>
